<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/style.css">
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <header>
        <h1 id="head">{{header}}</h1>
        <nav>
            <a href="/">Home</a>
            <a href="/products">Products</a>

            {{#if user}}

                <a href="/dashboard">Dashboard</a>
                <a href="/logout">Logout</a>

            {{else}}

                <a href="/registration">Registration</a>
                <a href="/login">Login</a>

            {{/if}}
        </nav>
    </header>
    {{{body}}}
</body>
<footer>
    <div class="foot">
        <div class="address">
            <h1>Address</h1>
            <p>123 Fake Street</p>
            <p>123 ACB</p>
            <p>Toronto ON</p>
        </div>
        <div class="social">
            <h1>Social Media</h1>
            <ul>
                <a href="/"><img src="/icons/facebook.png" alt="not working" class="social_media" /></a>
            </ul>
            <ul>
                <a href="/"><img src="/icons/instagram.png" alt="not working" class="social_media" /></a>
            </ul>
            <ul>
                <a href="/"><img src="/icons/twitter.png" alt="not working" class="social_media" /></a>
            </ul>
        </div>
    </div>
    WEB322 Storefront
</footer>

</html>