<p class="dash">Welcome Admin: {{user.firstName}} {{user.lastName}}, what would like you like to do today?</p>
<div class="dashlinks">

    <a href="/addproducts">Add Products</a>
    <a href="/listproducts">Show Current Products</a>
    <a href="/shoppingcart">My Cart</a>

</div>
