<p class="dash">Welcome Admin: {{user.firstName}} {{user.lastName}}, what would like you like to do today?</p>
<p><a href="/addproducts">Add Products</a></p>
<p><a href="/listproducts">Show Current Products</a></p>