<section id="products_listing">
    <div class="listings">
        <img src="/uploads/{{productPic}}" class="product_img" alt="not working" />
        <div class="product_text">
            <h3>
                {{productName}}
            </h3>
            <p>
                Price : {{this.price}}
            </p>
            <p>
                Description : {{description}}
            </p>
        </div>
    </div>
</section>