<div class ="forms">
    <section class="login">
        <form action="/login" method="POST">
            <label for="l_user_id">Your Username</label><br>
            <input id="l_user_id" type="text" name="l_user_id"></input><br>
             <label for="password">Password</label><br>
            <input id="password" type="text" name="password" }></input><br>
            <input type="submit" value="Sign in">
        </form>
    </section>
</div>